.icons-wrapper.fotos {
  position: relative;
}
.icons-wrapper.fotos > a {
  pointer-events: auto;
}
.sm {
  width: 200px;
  height:250px;
}
.img.sm:target {
  background: rgba(0,0,0,.9);
  position: absolute;
  padding: 5% 0 3% 0;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 1s all;
  //pointer-events: none;
}
.img.sm:target > img {
  // width: 50%;
  height: 95%;
  background-position: center;
}
.img.sm:target > .close {
  display: inline-block;
}
.close {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  color: darkred;
  top: 0;
  right: 0;
  padding: 0em;
  pointer-events: auto;
  position: absolute;
  background: rgba(#fff,.8);
  border-radius: 50%;
  display: none;
}
