.icons-wrapper.fotos {
  display: flex;
  flex-wrap: wrap;
}
.sm {
  width: 200px;
  height:250px;
}
.img {
  background: rgba(0,0,0,.1);
  overflow: hidden;
  pointer-events: auto;
  width: 20%;
  margin: 0.5%;
}
.img.sm:target > img {
border: 3px solid red;
}
.img.sm:target > .close {
  display: inline-block;
}
.close {
  top: 0;
  right: 0;
  padding: 0;
  width: 1.2em;
  height: 1.2em;
  display: none;
}
.close, .direct {
  color: darkred;
  pointer-events: auto;
  position: absolute;
  background: rgba(#fff,.8);
  border-radius: 50%;
}
.direct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 45%;
  width: 3em;
  height: 3em;
  font-size: 2em;
}
.off {
  visibility: hidden;
}
.on {
  visibility: visible;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
// .img.sm:target .direct {
//   visibility: visible;
//   //z-index: 99999;
// }
