header {
  display: flex;
  flex-direction: column;
  @include outer-container;
}
.header-logo-title {
  display: flex;
}
h1.site-title {
  font-family: 'Indie Flower', cursive;
  margin: 5% 0 0 0;
  padding: 5% 0 5%;
  width: 70%;
  background: none;
  text-align: center;
  float: right;
  //color: shadow(green,0%);
  font-size: 5em;
}
