body {
  margin: 5%;
  background-color: #fda;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 50%, transparent 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
  background-size: 10px, 20px, 30px, 60px; }

.title-front h3 {
  color: steelblue; }

.section1, .section2 {
  background-color: #d2f8d2;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.07) 50%, transparent 50%), linear-gradient(0deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%), linear-gradient(0deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%), linear-gradient(0deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
  background-size: 10px, 20px, 30px, 60px;
  margin: 0% 0 5% 0;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden; }

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.icons-wrapper a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 26%;
  border: 1px solid gray;
  margin: 5% 1%; }

.icon {
  background-color: #ffcab6;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 50%, transparent 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
  background-size: 10px, 20px, 30px, 60px; }

svg#svg1 {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  border: 1px solid red;
  width: 100%;
  height: auto; }
  svg#svg1 line {
    stroke: steelblue;
    stroke-width: 1; }
