.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3% 0 0 0; }

.icons-wrapper a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 26%;
  border: 1px solid #aaa;
  margin: 5% 1%; }

.icon {
  height: 100%;
  background-color: #e9f0f6;
  padding: 8% 1% 5%; }

.icon:hover {
  background-color: #dbf5d8; }

[class^=icon-] {
  font-size: 5em;
  color: rgba(179, 0, 0, 0.7); }

.icon [class^=icon-]:hover {
  font-size: 5em;
  color: #cc0000; }

.section1 .icons-wrapper a, .portfolio .icons-wrapper a {
  margin: 0.5%; }

.about .icons-wrapper a {
  width: 48%;
  margin: 5px; }

.quien-somos {
  padding: 0 2%; }
