a, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif; }

body {
  margin: 10% 0 5%;
  background-color: #8abcfc; }

.title-front h3 {
  color: steelblue; }

.section1, .ofertas {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  margin: 0% 0 10% 0;
  padding: 3% 0 0 0;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden; }

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.icons-wrapper a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 26%;
  border: 1px solid gray;
  margin: 5% 1%; }

.icon {
  background-color: #ffcab6;
  padding: 8% 0 5%; }

p.icon_title {
  font-size: 30px; }

[class^=icon-] {
  font-size: 5em; }

ul.offer-text {
  list-style: none; }
