* {
  box-sizing: border-box; }

body {
  margin: 10% 0 5%; }

p {
  font-size: 1.2em;
  font-weight: 300; }

body {
  background-color: #c5dffb; }

body, a, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif;
  color: #3f75a2; }

section.section1, section.ofertas, section.about, section.portfolio {
  background-color: rgba(255, 255, 255, 0.8); }

.title-front h3 {
  font-weight: 500; }

.title-front h3, .offer-text, h3.icon_title {
  color: #3f75a2; }

ul.offer-text, ul.porque {
  list-style: none; }

ul.porque li::before {
  content: "\f006"; }

.section1, .ofertas, .about, .portfolio {
  width: 100%;
  margin: 0% 0 10% 0;
  padding: 5% 0 5% 0;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden; }

.section1.icons-wrapper a, .portfolio.icons-wrapper a {
  margin: 0.5%; }

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3% 0 0 0; }

p.quien-somos {
  text-align: left; }

.quien-somos {
  padding: 0 2%; }

.icon:hover {
  background-color: #f8fdf8; }

.icon [class^=icon-]:hover {
  font-size: 5em;
  color: #cc0000; }

.icons-wrapper a {
  width: 26%;
  border: 1px solid #aaa;
  margin: 1% 1%; }

.portfolio > .icons-wrapper a {
  margin: 0.2%; }

.icon {
  height: 100%;
  background-color: #e9f0f6;
  padding: 8% 1% 5%; }

[class^=icon-] {
  font-size: 5em;
  color: rgba(179, 0, 0, 0.7); }

.about .icons-wrapper a {
  width: 48%;
  margin: 5px; }
